.login-modal .modal-b-1 {
  display: grid;
  place-items: center;
  justify-content: center;
}

.login-modal .modal-b-1 .modal-b-txt-1 {
  text-align: center;
}

.login-modal .modal-b-1 .modal-b-txt-2 {
  font-size: 12px;
  text-align: center;
}

.login-modal .modal-b-2 .login-form {
  display: grid;
  place-items: center;
  justify-content: center;
}

.login-modal .modal-b-2 .login-form .name-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid #bebebe;
}

.login-modal .modal-b-2 .login-form .email-login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid #bebebe;
}

.login-modal .modal-b-2 .login-form .email-login .country-code {
  margin-right: 10px;
  font-size: 13px;
}

.login-modal .modal-b-2 .login-form .email-login .email-input {
  font-size: 13px;
  border: none;
  width: 100%;
}

.login-modal .modal-b-2 .login-form .email-login .email-input::placeholder {
  font-size: 13px;
  position: relative;
}

.login-modal .modal-b-2 .login-form .email-login .email-input:focus {
  outline: none;
}

.login-modal .modal-b-2 .login-form .password-input {
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid #bebebe;
  width: 100%;
}

.login-modal .modal-b-2 .login-form .password-input .password-field {
  border: none;
  margin-left: 24px;
  margin-right: 41px;
}

.login-modal .modal-b-2 .login-form .password-input .password-field::placeholder {
  font-size: 13px;
  position: relative;
}

.login-modal .modal-b-2 .login-form .password-input .password-field:focus {
  outline: none;
}

.login-modal .modal-b-2 .login-form .password-input .eye-icon {
  color: #0b4fff;
}

.login-modal .modal-b-2 .login-form .btn-login {
  color: white;
  background: #0b4fff;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.login-modal .modal-b-2 .login-form .or_1 {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 5px;
}

.login-modal .modal-b-2 .login-form .or_1 .horizontal-line {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  border-bottom: 1px solid #383535;
  padding: 0px;
}

.login-modal .modal-b-2 .login-form .or_1 .or {
  position: absolute;
  padding: 0.1rem 0.6rem 0.5rem 0.5rem;
  background: white;
  font-size: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: dimgray;
}

.login-modal .modal-b-2 .login-form .email {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #bebebe;
  cursor: pointer;
}

.login-modal .modal-b-2 .login-form .email .mail-icon {
  margin-right: 10px;
  font-size: 18px;
}

.login-modal .modal-b-2 .login-form .new-to-tdl {
  margin: 10px;
  text-align: center;
}

.login-modal .modal-b-2 .login-form .new-to-tdl .new {
  font-size: 12px;
}

.login-modal .modal-b-2 .login-form .new-to-tdl .new .create-account {
  color: #0b4fff;
  text-decoration: none;
  border: none;
  background: white;
}
