.modal-signup {
    display: grid;
    place-items: center;
    justify-content: center;

    .back-button {
        border: none;
        background: white;
        color: rgb(190, 190, 190);

        &:hover {
            color: rgba(11, 79, 255, 1);
        }

        margin: 10px;

        .back {
            font-size: 30px;
        }

    }

    .bulb {
        display: grid;
        place-items: center;
        justify-content: center;

        .heading {
            margin: 20px;
            text-align: center;
            font-size: 1.5rem;
            color: rgba(11, 79, 255, 1);
        }

        .mail {
            display: block;
            height: 90px;
            transform-origin: center top;
            animation: swing_31 1.3s ease-in-out infinite alternate;


            @keyframes swing_31 {
                0% {
                    transform: rotate(18deg);
                }

                100% {
                    transform: rotate(-18deg);
                }
            }
        }



    }

    .sign-up {
        display: grid;
        place-items: center;
        justify-content: center;


        .email-input {
            display: flex;
            font-size: 13px;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            border: 1px solid rgb(190, 190, 190);

            &:hover {
                border: 1px solid rgba(11, 79, 255, 1);
            }

            &::placeholder {

                font-size: 14px;

            }

            &:focus {
                outline: none;
            }
        }

        .password-input {
            display: flex;
            font-size: 13px;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            border: 1px solid rgb(190, 190, 190);
            width: 100%;

            &:hover {
                border: 1px solid rgba(11, 79, 255, 1);
            }

            .password-field {
                border: none;

                &::placeholder {
                    font-size: 13px;
                    position: relative;
                }

                &:focus {
                    outline: 1px;
                }

            }

            .eye-icon {
                color: rgba(11, 79, 255, 1);
                margin-left: 75px;
            }

            .status-icon {
                .tick {
                    color: green;
                    margin-left: 10px;
                    font-size: 10px;
                }

                .wrong {
                    color: red;
                    margin-left: 10px;
                    font-size: 10px;
                }
            }

            .password-strength {
                position: absolute;
                font-size: 10px;
                margin: 34px 0px 0px 0px;

                .strong-password {
                    color: green;
                }

                .weak-password {
                    color: red !important;
                }
            }

            .password-match-error {
                position: absolute;
                display: grid;
                color: red;
                font-size: 10px;
                margin: 34px 0px 0px 0px;
            }

        }

        .acceptance {
            display: flex;
            align-items: center;
            justify-content: center;

            .checked {}

            .accept {
                font-size: 12px;
                margin: 20px 10px 10px 10px;


                .policy-link {
                    color: rgba(11, 79, 255, 1);
                    text-decoration: none;
                }
            }
        }

        .btn-login {
            color: rgb(255, 255, 255);
            background: rgba(11, 79, 255, 1);
            font-size: 12px;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            border: none;
        }

        .or_1 {
            position: relative;
            width: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin: 5px;

            .horizontal-line {
                border-top: none;
                border-right: none;
                border-left: none;
                border-image: initial;
                width: 100%;
                border-bottom: 1px solid rgb(56, 53, 53);
                padding: 0px;
            }

            .or {
                position: absolute;
                padding: 0.1rem 0.6rem 0.5rem 0.5rem;
                background: rgb(255, 255, 255);
                font-size: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: rgb(105, 105, 105);
            }
        }

        .email {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(255, 255, 255);
            font-size: 12px;
            padding: 10px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid rgb(190, 190, 190);
            cursor: pointer;

            .mail-icon {
                margin-right: 10px;
                font-size: 18px;
            }
        }

    }
}

// Media Queries //