.product-item {
  position: relative;
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px "#00000015";
  transition: 0.3s;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #b4b3b3;
  animation: fadeIn 1s;
}

.product-item:hover {
  box-shadow: 2px 4px 10px 4px #363f44;
  transition: 0.4s ease;
  border-radius: 15px;
}

.product-item .product-item-img {
  border-radius: 15px 15px 0px 0px;
  height: 150px;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.product-item .product-item-img:hover {
  transform: scale(1.1);
}

.product-item .product-item-info {
  position: relative;
  border-radius: 0px 0px 15px 15px;
  background: #eff3fe;
  padding: 15px;
}

.product-item .product-item-info .product-section-1 {
  display: grid;
}

.product-item .product-item-info .product-section-1 .product-name {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
  margin: 2px;
}

.product-item .product-item-info .product-section-1 .product-details {
  display: flex;
  align-items: center;
}

.product-item .product-item-info .product-section-1 .product-details .product-info-1 {
  position: relative;
  width: 100%;
  margin-right: 100px;
}

.product-item .product-item-info .product-section-1 .product-details .product-info-1 .rating {
  color: #0b4fff;
  font-size: 10px;
  margin: 2px;
}

.product-item .product-item-info .product-section-1 .product-details .product-info-1 .product-price {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
  margin: 2px;
}

.product-item .product-item-info .product-section-1 .product-details .product-info-2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item .product-item-info .product-section-1 .product-details .product-info-2 .buynow {
  font-size: 12px;
  border: none;
  border-radius: 10px;
  background: #0b4fff;
  color: white;
  padding: 5px;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  animation: fadeIn 1s;
  font-weight: 500;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter .minus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 15px;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter .minus .minus-icon {
  color: red;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter .count {
  margin: 3px;
  font-size: 12px;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 15px;
}

.product-item .product-item-info .product-section-1 .product-details .product-item-counter .plus .plus-icon {
  color: #0b4fff;
}

.product-item .product-item-info .product-section-2 .product-description {
  font-size: 10px;
  margin: 5px;
  font-weight: 400;
  color: grey;
}
