.about {
  margin: 45px 62px 45px 62px;
}

.about .about-header {
  display: grid;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.about .about-header .about-title {
  font-size: 1.5rem;
}

.about .about-header .about-para {
  font-size: 1rem;
}

.about .about-header .about-img {
  margin-top: 20px;
  height: 450px;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  border-radius: 10px;
}

.about .about-mid {
  display: grid;
  margin-top: 40px;
}

.about .about-mid .about-title {
  font-size: 1.5rem;
}

.about .about-mid .about-para {
  font-size: 1rem;
}

.about .about-mid .header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.about .about-mid .header-box .view-product-text-3 {
  text-align: center;
  padding: 15px;
  font-size: 1.35rem;
}

.about .about-mid .header-box .view-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.about .about-mid .header-box .view-product-list .view-product-list-item {
  margin-right: 40px;
}

.about .about-mid .header-box .view-product-list .view-product-list-item .view-card {
  height: 200px;
  width: 200px;
}

.about .about-mid .header-box .view-product-list .view-product-list-item .view-card .product-list-image {
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
}

.about .about-mid .header-box .view-product-list .view-product-list-item .view-card .product-list-image:hover {
  box-shadow: 2px 4px 10px 4px #444436;
  transition: 0.4s ease;
}

.about .about-mid .header-box .view-product-list .view-product-list-item .product-list-title {
  margin: 20px 0 0 0;
  font-weight: 500;
}

.about .about-mid .header-box .view-product-list .view-product-list-item .product-list-title:hover {
  color: #0b4fff;
}

@media (max-width: 768px) {
  .about {
    margin: 30px;
  }
  .about .about-mid .header-box {
    padding: 20px;
  }
  .about .about-mid .header-box .view-product-list {
    display: grid;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item {
    margin-right: 0px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .view-card {
    margin: 20px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .product-list-title {
    margin: 20px 0 0 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about .about-mid .header-box {
    padding: 20px;
  }
  .about .about-mid .header-box .view-product-list {
    display: grid;
    grid-template-columns: auto auto;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item {
    margin-right: 0px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .view-card {
    margin: 20px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .product-list-title {
    margin: 20px 0 0 0;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1240px) {
  .about .about-mid .header-box {
    padding: 0px;
  }
  .about .about-mid .header-box .view-product-list {
    padding: 0px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item {
    margin-right: 0px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .view-card {
    margin: 20px;
  }
  .about .about-mid .header-box .view-product-list .view-product-list-item .product-list-title {
    margin: 20px 0 0 0;
  }
}
